<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="ClientId" value="f241bfa2-10c9-4322-b147f-6cbf58b0fcd6" />
    <add key="ClientSecret" value="GxBLxSl7cxh7V+mW6ewaLJ2Sa/guZkdRwxPPWMQgxQQ=" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>